.richtext {
  max-width: 800px;
  margin: 50vh auto;
  font-size: 22px;
  line-height: 1.4;
  position: relative;
  padding: 14px 24px;
  background: white;
  /* border-radius: 24px; */
}

/* .richtext:nth-child(2n){
  margin-left: 100px;
}

.richtext:nth-child(2n+1){
  margin-right: 100px;
} */