@font-face {
  font-family: liter;
  src: url(./Liter-Regular.ttf);
}

$fluor: #f94611;

body{
  margin: 0;
  font-family: liter;
}

*{
  box-sizing: border-box;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100svh;
  overflow: hidden;
  position: relative;

  h1 {
    font-size: 50vw;
    line-height: 1;
    margin: 0;
    font-weight: 300;
    color: $fluor;
    position: fixed;
    z-index: 0;
  }

  .intro{
    position: absolute;
    bottom: 0vh;
    z-index: 999;
    // background-color: white;
    padding: 14px 24px;
    padding-bottom: 48px;
    // border-radius: 24px;
    p{
      margin: 0;
      font-size: 48px;
      max-width: 700px;
      text-align: center;
    }
  }

  .background-images {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    .bg-wrapper {
      position: absolute;
          z-index: -1;
      transform: translate(-50%, -50%);
    }

    .bg-image {
      opacity: 0;
      animation: fadeInOut var(--duration, 8s) var(--delay, 0s) infinite ease-in-out;

      img {
        max-width: 30vw;
        height: auto;
      }
    }
  }
}

@keyframes fadeInOut {
  0%   { opacity: 0; }
  10%  { opacity: 1; }
  40%  { opacity: 1; }
  50%  { opacity: 0; }
  100% { opacity: 0; }
}

@media only screen and (max-width: 600px) {
  .hero {
    h1{
      font-size: 100vw;
    }
    .intro p{
      font-size: 22px;
      padding: 0 14px;
      text-align: right;
    }
    .background-images .bg-image img{
      max-width: 60vw;
    }
  }
}