@font-face {
  font-family: liter;
  src: url(./Liter-Regular.ttf);
}

$orange: rgb(255, 106, -0);
$green: rgb(33, 72, 66);
$blue: rgb(38, 0, 255);
$yellow: rgb(253, 255, 1);
$pink: rgb(255, 156, 130);
$brown: rgb(116, 92, 43);
$beige: rgb(247, 222, 164);
$grey: rgb(68, 66, 67);

body {
  margin: 0;
  font-family: liter;
  background-color: $green;
}

* {
  box-sizing: border-box;
}

.hero {
  display: flex;
  padding-right: 5vw;
  justify-content: end;
  align-items: center;
  width: 100vw;
  height: 100svh;
  overflow: hidden;
  position: relative;

  h1 {
    font-size: 50vw;
    line-height: 1;
    margin: 0;
    font-weight: 300;
    color: $orange;
    position: fixed;
    z-index: 0;
    // transition: color 0.2s ease;
  }

  .intro {
    position: absolute;
    bottom: 0vh;
    left: 0;
    z-index: 999;
    background-color: $green;
    padding: 14px 24px;
    padding-bottom: 48px;
    // border-radius: 24px;
    color: $orange;

    p {
      margin: 0;
      font-size: 100px;
      max-width: 500px;
      padding-right: 100px;
      text-align: left;
      line-height: 1;
      text-transform: uppercase;
      font-weight: 700;
    }
  }

  .background-images {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;

    .bg-wrapper {
      position: absolute;
      z-index: -1;
      // transform: translate(-50%, -50%);
    }

    .bg-image {
      opacity: 0;
      animation: fadeInOut var(--duration, 8s) var(--delay, 0s) infinite ease-in-out;

      img {
        max-width: 45vw;
        height: auto;
      }
    }
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  40% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@media only screen and (max-width: 600px) {
  .hero {
    h1 {
      font-size: 100vw;
      left: 50%;
      transform: translateX(-50%);
    }

    .intro p {
      font-size: 48px;
      text-align: left;
    }

    .background-images {
      .bg-wrapper {
        left: 5% !important;
      }

      .bg-image img {
        max-width: 90vw;
      }
    }
  }
}